<div class="container-fluid" >
  <div class="row-fluid">
   <div class="col-lg-2"></div>
   <div class="col-lg-8">
      <div class="alert alert-success">
        "Drag 'N' Drop" was build using the following frameworks and toolsets: <a href="https://angularjs.org/">AngularJS</a> 
        <a href="http://getbootstrap.com/">Boostrap 3</a>, <a href="http://sass-lang.com/">SASS</a>, <a href="http://yeoman.io/">Yeoman</a>, <a href="http://bower.io/">Bower</a>, <a href="http://gruntjs.com/">Grunt</a> 
       </div> 
        <div class="alert alert-danger">
          If you intend to use "Drag 'N' Drop" in a public accessible network e.g. internet, you will need to implement security provisions,
          which should include login functionality. 
       </div>       
    </div>
   <div class="col-lg-2"></div>
</div> 